# Mark everything as vendored
* linguist-vendored
# Treat docs as documentation
docs/** -linguist-vendored linguist-documentation
# Unmark files in src, so that they are included in language stats
src/** -linguist-vendored

# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted
# to native line endings on checkout.
*.config text diff=html
*.css text
*.json text
*.less text
*.md text
*.scss text
*.svg text diff=html
*.txt text
*.xml text diff=html
*.xsl text diff=html
*.xslt text diff=html
*.yaml text
*.yml text

# Denote all files that are truly binary and should not be modified.
*.avi binary filter=lfs diff=lfs merge=lfs
*.eot binary
*.flv binary filter=lfs diff=lfs merge=lfs
*.gif binary
*.jpg binary
*.m4a binary filter=lfs diff=lfs merge=lfs
*.m4v binary filter=lfs diff=lfs merge=lfs
*.mov binary filter=lfs diff=lfs merge=lfs
*.mp3 binary filter=lfs diff=lfs merge=lfs
*.mp4 binary filter=lfs diff=lfs merge=lfs
*.ogg binary filter=lfs diff=lfs merge=lfs
*.ogv binary filter=lfs diff=lfs merge=lfs
*.pdf binary filter=lfs diff=lfs merge=lfs
*.png binary
*.ttf binary
*.wav binary filter=lfs diff=lfs merge=lfs
*.webm binary filter=lfs diff=lfs merge=lfs
*.wmv binary filter=lfs diff=lfs merge=lfs
*.woff binary
